<%- include('../partials/header') %>
<div class="container">
      <h1 class="text-center">Create new campground</h1>
      <div style="width: 30%; margin: 25px auto;" class="text-center">
            <form action="/campground" method="POST">
                  <div class="form-row ">
                        <div class="col-md-12 form-group">
                              <input class="form-control" type="text" name="name" placeholder="name">
                        </div>
                        <div class="col-md-12 form-group">
                              <input class="form-control" type="text" name="image" placeholder="image url">
                        </div>
                        <div class="col-md-12 form-group">
                              <input type="text" name="description" id="" class="form-control" placeholder="description">
                        </div>
                        <div class="col-md-12 form-group">
                              <button class="btn btn-default btn-primary btn-lg btn-block">Submit!</button>
                        </div>
                  </div>
            </form>
            <a href="/campground">GO Back</a>
      </div>
</div>
<%- include('../partials/footer') %>